/************************
 * Made by [MR Ferry™]  *
 * on May 2020          *
 ************************/

.parent-archive-container {
  background: #1c1e1f;
}

.archive-link {
  cursor: pointer;
  border: none;
  background: transparent;
  width: 100%;
  text-align: left;
}

.metismenu > .archive-container > .item > .archive-link {
  line-height: 2.5em;
}

.archive-container,
.item {
  margin: 0;
  padding: 0;
}

.archive-container {
  list-style: none;
}

.not-visible {
  animation: fade_out_show 0.3s;
  animation-fill-mode: forwards;
}
@keyframes fade_out_show {
  50% {
    width: unset;
    height: unset;
  }
  100% {
    width: 0;
    height: 0;
    display: none;
  }
}
.archive-container .archive-container {
  box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
  -webkit-box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
  transition: padding 300ms;
  -webkit-transition: padding 300ms;
  background: rgba(255, 255, 255, 0.05);
}
.archive-container .archive-container .item > .archive-link {
  height: 0;
  overflow: hidden;
}
.archive-container .archive-container .archive-link {
  padding-left: 1em;
}
.archive-container .archive-container .archive-container .archive-link {
  padding-left: 2em;
}
.archive-container.visible {
  padding: 0.5em 0;
}
.archive-container.visible > .item > .archive-link {
  height: 2.5em;
}
.archive-link {
  color: #ddd;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  transition: height 300ms, color 300ms, background-color 300ms;
  -webkit-transition: height 300ms, color 300ms, background-color 300ms;
  display: block;
  line-height: 2.5em;
  text-decoration: none;
}

.archive-link:hover {
  background: rgba(255, 255, 255, 0.05);
  transition: none;
  color: #f7f7f7;
}

i.archive-icon {
  text-align: center;
  width: 3em;
  display: inline-block;
}
