/************************
 * Made by [MR Ferry™]  *
 * on May 2020          *
 ************************/

.parent-archive-container {
  background: #1c1e1f;
}

.metismenu {
  background: #303336;
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  overflow: hidden;
  position: relative;
}
.archive-link {
  cursor: pointer;
  border: none;
  background: transparent;
  width: 100%;
  text-align: left;
}
.metismenu > .archive-container > .item > .archive-link {
  line-height: 2.5em;
}
.metismenu > .archive-container > .item > .archive-link .metismenu-state-icon {
  line-height: 2.5em;
}
.metismenu::after {
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.5) inset;
  content: " ";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.archive-container,
.item {
  margin: 0;
  padding: 0;
}
.archive-container {
  list-style: none;
}
.archive-container .archive-container {
  box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
  -webkit-box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
  transition: padding 300ms;
  -webkit-transition: padding 300ms;
  background: rgba(255, 255, 255, 0.05);
}
.archive-container .archive-container .item > .archive-link {
  height: 0;
  overflow: hidden;
}
.archive-container .archive-container .archive-link {
  padding-left: 1em;
}
.archive-container .archive-container .archive-container .archive-link {
  padding-left: 2em;
}
.archive-container.visible {
  padding: 0.5em 0;
}
.archive-container.visible > .item > .archive-link {
  height: 2.5em;
}
.archive-link {
  color: #ddd;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  transition: height 300ms, color 300ms, background-color 300ms;
  -webkit-transition: height 300ms, color 300ms, background-color 300ms;
  display: block;
  line-height: 2.5em;
  text-decoration: none;
}
.archive-link:hover {
  background: rgba(255, 255, 255, 0.05);
  transition: none;
  color: #f7f7f7;
}
.archive-link.active {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #f53;
  color: #fff;
}
.archive-link.has-active-child {
  color: #f53;
}
i.archive-icon {
  text-align: center;
  width: 3em;
}
i.metismenu-state-icon {
  transition: transform 300ms;
  -webkit-transition: transform 300ms;
  float: right;
  line-height: 2.5em;
  text-align: center;
  width: 3em;
}
i.metismenu-state-icon.rotate-minus-90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
