/************************
 * Made by [MR Ferry™]  *
 * on November 2020     *
 ************************/

/************************
 * Made by [MR Ferry™]  *
 * on November 2020     *
 ************************/

blockquote > :first-child {
  margin-top: 0;
  text-align: left !important;
}
blockquote > :first-child:before {
  content: "\201C";
}
blockquote > :first-child:after {
  content: "\201D";
}
blockquote p {
  font-family: serif;
  font-style: italic;
  position: relative;
}
blockquote {
  background: #2c3a47;
  display: inline-block;
  margin: 0;
  box-shadow: rgba(88, 50, 99, 0.7) 0 2px 0 inset, rgba(0, 0, 0, 0.3) -5px -4px 25px;
  position: relative;
  padding: 15px;
  border-radius: 15px;
}
blockquote > :last-child {
  display: block;
  text-align: right;
  font-weight: bold;
  margin-bottom: 0;
}
blockquote > :last-child:before {
  content: "~ ";
}

body.medium-zoom--opened #___gatsby {
  filter: blur(3px);
  transition-delay: 0.1s;
}
