.post-page-main {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
}

.heading {
  font-family: "Raleway", serif;
}

.sidebar {
  width: 90%;
}

.main-picture {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}

.gatsby-resp-image-figcaption{
  font-size: 0.8rem;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  .sidebar {
    display: none;
  }
  .post-page-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
