/************************
 * Author: [MR FERRY™]  *
 * September 2020       *
 ************************/

/************************
 * Author: [MR FERRY™]  *
 * September 2020       *
 ************************/

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

p,
.title {
  font-family: "Work Sans", serif;
}

body.medium-zoom--opened #___gatsby {
  filter: blur(3px);
  transition-delay: 0.1s;
}

.medium-zoom-image {
  transition: transform 0.5s cubic-bezier(0.2, 0, 0.2, 1) !important;
}

.main-layout {
  padding: 1.5rem;
}

.post-container {
  display: inline-block;
  text-align: left;
  width: 100%;
  padding: 0 1.5rem;
}

#content-post {
  font-size: 1.2rem;
}

.blog-content {
  padding: 0 2.5rem;
}

.page-info {
  padding: 3px 10px;
  font-size: 85%;
}

.title,
.posted {
  text-align: center;
  line-height: 20px;
}

.posted {
  padding: 0;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  margin: 0 0 .25rem;
}

.text-second-link {
  color: rgb(81, 212, 233)
}

.index-main {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-columns: 1fr 2fr 1fr;
}

.sidebar {
  width: 90%;
  -ms-grid-column: 1;
  grid-column: 1;
}
.post-main {
  -ms-grid-column: 2;
  grid-column: 2;
  width: 100%;
}
.right-sidebar {
  -ms-grid-column: 3;
  grid-column: 3;
  padding-left: 2rem;
}

.text-link,
a {
  color: #8ba2d2;
  transition: 9s;
}

.text-link {
  line-height: 1.25em;
}

.text-side {
  color: #42b72a;
  transition: 9s;
}

.index-thumbnail {
  float: left;
  margin: 0 10px 5px 0;
  max-width: 15vw;
  max-height: 20vh;
}

.marginb5 {
  margin-bottom: 30px;
}

a:hover,
.text-side:hover,
.text-link:hover {
  color: #ff0000;
  transition: 7s;
}

a,
a:hover,
.text-side:hover,
.text-link:link,
.text-link:hover,
.text-link:visited {
  outline: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  background-color: #1c1e1f;
  color: #c5c1b9;
}
::-webkit-scrollbar-thumb {
  background-color: #2a2c2e;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #323537;
}
::-webkit-scrollbar-thumb:active {
  background-color: #3d4043;
}
::-webkit-scrollbar-corner {
  background-color: #181a1b;
}
* {
  scrollbar-color: #2a2c2e #1c1e1f;
}

/* ipad pro */
@media only screen and (max-width: 1024px) {
  .sidebar,
  .right-sidebar {
    display: none;
  }

  .index-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0 0;
  }

  .post-container {
    padding: 0 5rem;
  }

  .blog-content {
    padding: unset;
  }

  .main-layout {
    padding: 0;
  }

  .head-elements {
    padding: 0.25rem;
  }

  .head-logo {
    font-size: 1.25rem;
  }

  .index-thumbnail {
    max-width: 26vw;
    max-height: 12vh;
  }
}

/* ipad */
@media only screen and (max-width: 850px) {
  .post-container {
    padding: unset;
  }

  .index-thumbnail {
    max-width: 46%;
    max-height: 19vh;
  }
}

/*!* iphone *!*/
@media only screen and (max-width: 450px) {
  .index-thumbnail {
    max-width: 46%;
    max-height: 16vh;
  }
}

/* tv */
@media only screen and (min-width: 3000px) {
  .index-thumbnail {
    max-width: 30vw;
    max-height: 12vh;
  }
}