/************************
 * Author: [MR FERRY™]  *
 * September 2020       *
 ************************/

.head-main {
  background: rgb(44, 47, 49);
  width: 100%;
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  flex-direction: column;
}

.head-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0.5rem;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 1.5em;
}

.bottom-bar {
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}
.head-logo {
  font-family: "Work Sans", serif;
  font-size: 1.75rem;
  margin: 0 0 0 1.5rem;
}

small {
  font-family: "Work Sans", serif;
}

.bio-picture {
  border-radius: 50%;
  box-shadow: 1px 1px 3px;
}

.bio-name {
  font-size: 2vw;
  margin: .5rem 0 .25rem 0;
  color: inherit;
  font-weight: 600;
  line-height: 1.1;
  padding: 0;
  text-rendering: optimizeLegibility;
}

.mobile-social {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
  padding-top: 1rem;
}

.social-icon {
  padding: .5rem;
}

@media only screen and (max-width: 1024px) {
  .bottom-bar {
    display: flex;
  }

  .social-links {
    display: none;
  }

  .social-icon {
    padding: unset;
  }

  .bio-picture {
    margin: 0 0 0 1.5rem;
    max-width: 125px;
    max-height: 125px;
  }

  .bio-letter {
    margin: 0 auto 0 1rem;
  }

  .bio-name {
    color: inherit;
    font-size: 20px;
    margin: .25rem 0;
  }

  .mobile-bio-main {
    display: flex;
    flex-direction: row;
    padding: 0 0 .25rem;
    background: rgb(44, 47, 49);
  }

  .mobile-social {
    justify-content: space-evenly;
  }

  .mobile-tag {
    display: none;
  }

  .head-elements {
    padding: 0.1rem 0;
  }

  .head-logo {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 360px){

  .bio-picture {
    margin: 0 0 0 1.5rem;
    max-width: 75px;
    max-height: 75px;
  }

}

.menu-button {
  color: #fff;
  display: block;
  margin: 0 0.5rem;
}

.header-link {
  color: white;
  text-decoration: none;
}
