/************************
 * Made by [MR Ferry™]  *
 * on May 2020          *
 ************************/

.hero {
  position: relative;
  background: #000;
  color: #fff;
  text-align: center;
}

.heroImage {
  max-height: 55vh;
}

@media (max-width: 1024px) {
  .heroImage {
    max-height: 45vh;
  }
}

@media (max-width: 450px) {
  .heroImage {
    max-height: 30vh;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
