/************************
 * Made by [MR Ferry™]  *
 * on May 2020          *
 ************************/

.hero {
  position: relative;
  color: #fff;
  text-align: center;
  margin: 0 0 1rem 0;
}

.heroImage {
  max-height: 55vh;
}

@media (max-width: 1024px) {
  .heroImage {
    max-height: 45vh;
  }
}

@media (max-width: 450px) {
  .heroImage {
    max-height: 30vh;
  }
}
