/************************
 * Made by [MR Ferry™]  *
 * on Mei 2024          *
 ************************/

/* header start */

/*.head-main {*/
/*  background: #343a40;*/
/*  width: 100%;*/
/*  position: sticky;*/
/*  z-index: 2;*/
/*  top: 0;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

/*.head-elements {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: space-between;*/
/*  margin: 0;*/
/*  padding: 0.5rem;*/
/*}*/

/*.social-links {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: space-around;*/
/*  margin-right: 1.5em;*/
/*}*/

/*.bottom-bar {*/
/*  width: 100%;*/
/*  display: none;*/
/*  flex-direction: row;*/
/*  justify-content: space-around;*/
/*}*/
/*.head-logo {*/
/*  font-family: "Work Sans", serif;*/
/*  font-size: 1.75rem;*/
/*  margin: 0 0 0 1.5rem;*/
/*}*/

/*small {*/
/*  font-family: "Work Sans", serif;*/
/*}*/

/*.mobile-bio-main {*/
/*  background: #343a40;*/
/*  display: none;*/
/*  padding-bottom: 0.5rem;*/
/*}*/

/*.bio-picture {*/
/*  margin: 0 0 0 1.5rem;*/
/*  max-width: 75px;*/
/*  max-height: 75px;*/
/*  border-radius: 50%;*/
/*  box-shadow: 1px 1px 3px;*/
/*}*/

/*@media only screen and (max-width: 1024px) {*/
/*  .bottom-bar {*/
/*    display: flex;*/
/*  }*/
/*  .social-links {*/
/*    display: none;*/
/*  }*/

/*  .mobile-bio-main {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*  }*/

/*  .mobile-social {*/
/*    justify-content: space-evenly;*/
/*  }*/

/*  .head-elements {*/
/*    padding: 0.5rem 0 0 0;*/
/*  }*/

/*  .head-logo {*/
/*    font-size: 1.25rem;*/
/*  }*/
/*}*/

/*.menu-button {*/
/*  color: #fff;*/
/*  display: block;*/
/*  margin: 0 0.5rem;*/
/*}*/

/*.header-link {*/
/*  color: white;*/
/*  text-decoration: none;*/
/*}*/

/*.bio-letter {*/
/*  margin: 0 auto 0 1rem;*/
/*}*/

/*.bio-name {*/
/*  margin-bottom: 0.25rem;*/
/*}*/
/* header end */

/* sidebar start */
.sidebar-main {
  width: 100%;
}

.side-social-links {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
}

.page-links,
.tech-tags {
  font-family: "Work Sans", serif;
}

.mobile-footer {
  display: none;
}

.profile-img {
  border-radius: 50%;
  box-shadow: 1px 1px 3px;
}

small,
h3,
p,
li {
  font-family: "Work Sans", serif;
}

.muted {
  color: rgb(158, 150, 137);
}

.tag-link a {
  color: #fff;
}

.second-header {
  font-size: 20px;
  padding: 0;
  color: inherit;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin: 0 0 0.25rem;
}

.author-bio {
  font-size: 2vw;
}

@media only screen and (max-width: 1024px) {
  .mobile-footer {
    display: block;
  }
}
/* sidebar end */

/* layout start */
html {
  font-family: Work Sans,Sans-serif,serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #23232d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  /*-webkit-text-decoration-skip: objects;*/
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  /*text-decoration: underline dotted;*/
}

b,
strong {
  /*font-weight: inherit;*/
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

optgroup {
  font-weight: 600;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  color: #dfdfdf;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  /*-ms-font-feature-settings: "kern", "liga", "clig", "calt";*/
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

img {
  max-width: 100%;
  padding: 0;
  margin: 0 0 1.45rem;
}

hgroup {
  padding: 0;
  margin: 0 0 1.45rem;
}

ul {
  padding: 0;
  margin: 0 0 1rem 1rem;
  list-style-position: outside;
  list-style-image: none;
}

dl {
  padding: 0;
  margin: 0 0 1.45rem;
}

dd {
  padding: 0;
  margin: 0 0 1.45rem;
}

p {
  padding: 0;
  margin: 0 0 1.45rem;
}

figure {
  padding: 0;
  margin: 0 0 1.45rem;
}

pre {
  margin: 0 0 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}

table {
  padding: 0;
  margin: 0 0 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}

fieldset {
  padding: 0;
  margin: 0 0 1.45rem;
}

form {
  padding: 0;
  margin: 0 0 1.45rem;
}

noscript {
  padding: 0;
  margin: 0 0 1.45rem;
}

iframe {
  padding: 0;
  margin: 0 0 1.45rem;
}

hr {
  padding: 0;
  margin: 0 0 calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  /*border: none;*/
  height: 1px;
}

address {
  padding: 0;
  margin: 0 0 1.45rem;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

th {
  font-weight: bold;
}

li {
  margin-bottom: calc(1.45rem / 5);
}

ul li {
  padding-left: 0;
}

li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 5);
  margin-top: calc(1.45rem / 5);
}

li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 5);
  margin-top: calc(1.45rem / 5);
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(1.45rem / 5);
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  /*-ms-font-feature-settings: "tnum";*/
  -webkit-font-feature-settings: "tnum";
  padding: 0.725rem 0.96667rem calc(0.725rem - 1px);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Droid Sans Mono", "Liberation Mono", Menlo, Courier,
  monospace;
  padding: 0.2em 0;
}

pre code {
  background: none;
  line-height: 1.42;
}

tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (min-width: 3000px) {
  html {
    font-size: 140%;
  }
}

.my-emoji::after {
  content: " \1F60E";
}

.my-emoji:hover.my-emoji::after {
  content: " \1F618";
  animation: animate 1.05s infinite;
}

.body-content {
  margin: 0 auto;
  padding: .5rem;
}

@keyframes animate {
  100% {
    content: " \1F60A";
  }
}

.tag-link {
  background: #343a40;
  border-radius: 10px;
  border-color: transparent;
  margin: 0.25em 0.25em 0.25em 0;
  font-size: 0.9em;
}
/* layout end */

/* paging */

.page-number {
  transition: unset !important;
}

[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
[data-pagination] {
  font-size: 8pt;
  line-height: 1;
  font-weight: 400;
  font-family: "Work Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  "Myriad Pro", "Segoe UI", Myriad, Helvetica, "Lucida Grande", "DejaVu Sans Condensed", "Liberation Sans",
  "Nimbus Sans L", Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  transition: font-size 0.2s ease-in-out;
}
[data-pagination] ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: 0.3em;
}
[data-pagination] ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
  margin: 0 1%;
}
[data-pagination] > a {
  font-size: 140%;
}
[data-pagination] a {
  /*color: #777;*/
  font-size: 100%;
  padding: 0.45em;
}
[data-pagination] a:focus,
[data-pagination] a:hover {
  color: #f60;
}
[data-pagination] li.current {
  color: #f60 !important;
  background: rgba(0, 0, 0, 0.1);
}
[data-pagination] a.current {
  color: #f60 !important;
}
/* Disabled & Hidden Styles */
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
  pointer-events: none;
}
@media (min-width: 350px) {
  [data-pagination] {
    font-size: 10pt;
  }
}
@media (min-width: 500px) {
  [data-pagination] {
    font-size: 12pt;
  }
}
@media (min-width: 700px) {
  [data-pagination] {
    font-size: 14pt;
  }
}
@media (min-width: 900px) {
  [data-pagination] {
    font-size: 16pt;
  }
}
/* paging end */

/* archive start */

.parent-archive-container {
  background: #1c1e1f;
}

.archive-link {
  cursor: pointer;
  border: none;
  background: transparent;
  width: 100%;
  text-align: left;
}

.metismenu > .archive-container > .item > .archive-link {
  line-height: 2.5em;
}

.archive-container,
.item {
  margin: 0;
  padding: 0;
}

.archive-container {
  list-style: none;
}

.not-visible {
  animation: fade_out_show 0.3s;
  animation-fill-mode: forwards;
}
@keyframes fade_out_show {
  50% {
    width: unset;
    height: unset;
  }
  100% {
    width: 0;
    height: 0;
    display: none;
  }
}
.archive-container .archive-container {
  box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
  -webkit-box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
  transition: padding 300ms;
  -webkit-transition: padding 300ms;
  background: rgba(255, 255, 255, 0.05);
}
.archive-container .archive-container .item > .archive-link {
  height: 0;
  overflow: hidden;
}
.archive-container .archive-container .archive-link {
  padding-left: 1em;
}
.archive-container .archive-container .archive-container .archive-link {
  padding-left: 2em;
}
.archive-container.visible {
  padding: 0.5em 0;
}
.archive-container.visible > .item > .archive-link {
  height: 2.5em;
}
.archive-link {
  color: #ddd;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  transition: height 300ms, color 300ms, background-color 300ms;
  -webkit-transition: height 300ms, color 300ms, background-color 300ms;
  display: block;
  line-height: 2.5em;
  text-decoration: none;
}

.archive-link:hover {
  background: rgba(255, 255, 255, 0.05);
  transition: none;
  color: #f7f7f7;
}

i.archive-icon {
  text-align: center;
  width: 3em;
  display: inline-block;
}
/* archive end */
